/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  and follow the formatting and style given.
*/
#site-nav{
    background-color:#00a39b;
}
#site-nav a{
    color: #ffffff;
}
#site-nav a:hover {
    color: #434faa;
}
#site-header .nav {
    font-weight: bolder;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flyout-menu {
    background-color: #00a39b;
}
a.here-button{
	 background-color:#434faa;
    display: block;
    padding: 6px;
    color: #fff;
    font-weight: bolder;
    border-radius: 6px;
    transition: background-color .2s ease-in-out,border .2s ease-in-out,color .2s ease-in-out;
}
a.here-button:visited{
	 background-color:#434faa;
    display: block;
    padding: 6px;
    color: #fff;
    font-weight: bolder;
    border-radius: 6px;
    transition: background-color .2s ease-in-out,border .2s ease-in-out,color .2s ease-in-out;
}
a.here-button:hover{
	 background-color:#434faa;
    display: block;
    padding: 6px;
    color: #00a39b;
    font-weight: bolder;
    border-radius: 6px;
    transition: background-color .2s ease-in-out,border .2s ease-in-out,color .2s ease-in-out;
}
#mailing-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
    padding: 12px;
    color: #fff;
    font-weight: bolder;
    border-radius: 6px;
    margin: 12px;
    background-color:#434faa;
    align-content: center;
}

.smaller-text{font-size:0.6em;
}
.white-text{
	color: #fff;}
.signup-text-input{
  color: white;
  align-content: center;
}
 .signup-text-input-field{
  color: white;
  align-content: center;
  border: 1px solid #fff;
  }
.signup-text-input-submit{
	background-color: white;
	  border: 1px solid #fff;
}
input[type=submit], input[type=reset], input[type=button], .button {
    background-color: #434faa;
    border: 1px solid rgba(161,161,161,.3);
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: raleway,Helvetica,sans-serif;
    font-size: .6em;
    font-weight: 800;
    height: 4.8125em;
    letter-spacing: .25em;
    line-height: 4.8125em;
    margin: auto;
    padding: 0 2em;
    transition: background-color .2s ease-in-out,border .2s ease-in-out,color .2s ease-in-out;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
}
#take-action-intro{
background-color: white;;
    margin: 1.5em auto;
    padding: 1em;
    max-width: 55em;}
    
.data-post {
    background: #fff;
    margin: 1.5em auto;
    padding: 2em;
    max-width: 55em;
}
.data-post>header {
    border-bottom: 1px solid rgba(161,161,161,.3);
    margin: -1em -1em 0;
    -ms-word-break: break-word;
    word-break: break-word;
}
	.post footer .button {

    display: none;
}
.post footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}