<section id="site-sidebar">
  {{ if gt .Site.Params.sidebar.postAmount 0 }}
      <section id="first-do-no-harm">
        <header>
          <h3 style="text-align:center">{{default (i18n "first_do_no_harm")}}</h3>
                  </section>
        </header>
    <section id="recent-posts">
              <header>
       <h4 style="text-align:center"><a href="/contact" class="here-button">{{default (i18n "sign_our_open_letter")}}</a></h4>
      </header>
      
          <section id="recent-posts">
      <header>
        <h1 style="text-align:center">{{ i18n "recent_posts" }}</h1>
      </header>
      {{ range first (.Site.Params.sidebar.postAmount | default 5) (where site.RegularPages "Type" "in" site.Params.mainSections) }}
      <article class="mini-post">
        <section>
          {{ .Render "featured" }}
        </section>
        <header>
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <time class="published" datetime="">{{ default (i18n "date_format") | .Date.Format }}</time>
        </header>
      </article>
      {{ end }}
      {{ if ge (len (where site.RegularPages "Type" "in" site.Params.mainSections)) (.Site.Params.sidebar.postAmount | default 5) }}
        <footer>
          <a href="{{ with .Site.Params.viewMorePostsLink }}{{ . | relLangURL }}{{ else }}{{ "post" | relLangURL }}{{ end }}" class="button">{{ i18n "see_more" }}</a>
        </footer>
      {{ end }}
    </section>
 
			 <div id="mailing-list"><h2 style="color:white;text-align:center">{{default (i18n "mailing_list_sign_up")}}</h2>
			<form
			  action="https://buttondown.email/api/emails/embed-subscribe/wda"
			  method="post"
			  target="popupwindow"
			  onsubmit="window.open('https://buttondown.email/wda', 'popupwindow')"
			  class="embeddable-buttondown-form">
			  <label class="signup-text-input" for="bd-email">{{default (i18n "form_email")}}:</label>
			  <input class="signup-text-input-field" type="email" name="email" id="bd-email"></input>
			  <input type="hidden" value="1" name="embed"></input>
			  <input class="signup-text-input-submit" type="submit" value="{{default (i18n "subscribe")}}"></input>
			</form>
			</div>
			
     
        <header>
          <p class="smaller-text">{{default (i18n "your_personal_details")}}</p>
          <p class="smaller-text">{{default (i18n "site_secure")}}</p>
          <p class="smaller-text">{{default (i18n "independent_opinion")}}</p>
        </header> 
      {{ end }}
    </section>

              <div id="telegram" class="center">
      <header>
        <h1>{{default (i18n "follow_telegram")}}</h1>
      </header>
        <section>
           <a class="no-border" href="https://t.me/worlddoctorsalliance"><img src="/img/main/telegram-logo.png" alt="Telegram Logo" style="width:72px;height:72px;">
           </a> 
        </section>
    </div>

  {{ if .Site.Params.sidebar.about }}
    <section id="mini-bio">
      <header>
        <h1>{{ i18n "about" }}</h1>
      </header>
      <p>{{default (i18n "uniting")}}</p>
      <footer>
        <a href="{{ "about" | relLangURL }}" class="button">{{ i18n "learn_more" }}</a>
      </footer>
    </section>
  {{ end }}
</section>
